
@{
    ViewBag.Title = "Shop";
    Layout = "_LayoutWithSideBar";
}

@section top
{
<section id="advertisement">
    <div class="container">
        <img src="~/template/images/shop/topBanner.jpg" alt="" />
    </div>
</section>
}

@await Html.PartialAsync("Partial/_Features")